.new-profile{
    background:#bbdefb ;
}

.container-new-profile{
    width:50vw;
    background:white;
    
}

.text-centrado option{
    text-align: center;
}

.btn{
    background-color:#0d47a1 ;
}

.sources{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.sourceitem{
    width:40%;
}