<app-nav-home></app-nav-home>

<main>
  <div class="login">
    <h1 class="blue-text text-accent-4"> Please, enter your credentials!</h1>
    <div class="container row">
      <form class="col s9 ">
        <div class="row">
          <div class="input-field col s9">
            <label for="username"> Username </label>
            <input type="text" [(ngModel)]="formInfo.username" name="username" class="validate" />
          </div>
        </div>
        <div class="row">
          <div class="input-field col s9">
            <label for="password" data-error="wrong" data-success="right"> Password </label>
            <input type="password" [(ngModel)]="formInfo.password" name="password" class="validate" />
          </div>
        </div>
        <button class="waves-effect waves-light btn orange lighten-2" (click)="sendForm()"> login </button>
      </form>
    </div>
  </div>
</main>

<p class="error"> {{ error }} </p>

<app-footer></app-footer>